<div class="container">
  <div class="row ecran-blanc">
    <div class="col mt-1">
      <div>
        <h1 class="title">Dashboard</h1>
      </div>
      <!-- FAIRE UN SCHEMA -->
      <div class="mt-2">
        <h3 class="medium-title">My stats</h3>
        <%= image_tag "charts_rouge.png", alt: "alttext" %>
      </div>
    </div>
  </div>
  <!-- LISTE DE TOUS LES PROJETS DU DESIGNER  -->
  <div class="row">
    <div class="col mt-1">
      <h3 class="medium-title text-white mt-3">My projects</h3>
    </div>
  </div>
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
      <div class="row mt-3 projects-card" style="color: #8C8C95">
        <div class="column">
          <% if project.user.photo.attached? %>
          <%= cl_image_tag project.user.photo.key, alt: "alttext", class: 'projects-card-img' %>
          <% else %>
          <%= image_tag "spiice.jpg", class: 'projects-card-img' %>
          <% end %>
        </div>
        <div class="column">
          <p class="projects-card-text"><%= project.description.first(72)... %></p>
          <h4 class="projects-card-title"><%= project.title %></h4>
          <p class="projects-card-price"><%= project.price %>$</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div style="height: 130px;">
</div>
