<!-- ALL DESIGNERS  -->

<div class="container bg-primary" style="height: 100vh;">
  <div class="row">
    <div class="col mt-3 mb-3">
      <h2 class="medium-title text-white pt-3 pb-3">All designers</h2>
    </div>
  </div>
  <div class="row d-flex align-items-center" style="flex-direction: column">
    <input type=”text” name=”query” id=”query” placeholder="I want to find…">
    <input type=”submit” name=”commit” value=“Search” class="btn btn-primary">
  </div>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="row mt-3 projects-card" style="color: #8C8C95">
        <div class="col-2 d-flex justify-content-center">
          <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key, alt: "alttext", class: 'designers-card-avatar' %>
          <% else %>
            <%= image_tag "spiice.jpg", class: 'designers-card-avatar' %>
          <% end %>
        </div>
        <div class="col-10">
          <h4 class="designers-card-title "><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></h4>
          <p class="designers-card-text"><%= user.bio %>$</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row" style="height: 120px;">
  </div>
</div>
