<!-- DESIGNER -->
<% if @user.role == 'designer' %>
 <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title text-white mb-2">Profile</h1>
        <div class="mb-1 pb-1" style="display: flex; align-items: center; justify-content: flex-end;">
          <div>
            <% if @user == current_user %>
              <%= link_to "Edit profile", edit_user_registration_path, class: 'easy-btn', style: 'margin-right: 8px;' %>
              <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: 'easy-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ecran-blanc" style="height: 150vh;">
    <div class="row mt-4">
      <div class="col mt-4">
        <div class="d-flex">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, alt: "alttext", class: 'profil-pic' %>
          <% else %>
            <%= image_tag "spiice.jpg", alt: "alttext", class: "profil-pic" %>
          <% end %>
          <h4 class="name-title"><%= @user.first_name + ' ' + @user.last_name %></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-4">
        <h5>Resume</h5>
        <p><%= @user.bio %></p>
      </div>
    </div>
    <% if @user != current_user  %>
    <div class="row">
      <div class="col mt-1 d-flex align-items-center m-2" style="flex-direction: row ">
        <p><i class="fab fa-linkedin-in text-primary m-2" style="font-size: 2rem;"></i></p>
        <p><i class="fab fa-instagram text-primary m-2" style="font-size: 2rem;"></i></p>
      </div>
    </div>
    <% end %>
    <% if current_user.id == @user.id %>
      <div id="shots"></div>
    <% end %>
    <div class="row">
      <div class="col mt-3">
        <h5>Portfolio</h5>
      </div>
      <div class="flex mb-2">
        <div class="d-flex flex-wrap justify-content-center" id="dribbble-shots">
          <% @repos.each do |shot| %>
            <div class="dribbble-card">
              <img src="<%= shot["images"]["one_x"] %>" alt="" class="shot">
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div style="height: 120px"></div>
  </div>

<!-- CLIENT -->
<% else %>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title text-white mb-2">Profile</h1>
        <div class="mb-1 pb-1" style="display: flex; align-items: center; justify-content: flex-end;">
          <div>
            <% if @user == current_user %>
              <%= link_to "Edit profile", edit_user_registration_path, class: 'easy-btn', style: 'margin-right: 8px;' %>
              <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: 'easy-btn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ecran-blanc" style="height: 150vh;">
    <div class="row mt-4">
      <div class="col mt-4">
        <div class="d-flex">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, alt: "alttext", class: 'profil-pic' %>
          <% else %>
            <%= image_tag "spiice.jpg", alt: "alttext", class: "profil-pic" %>
          <% end %>
          <h4 class="name-title"><%= @user.first_name + ' ' + @user.last_name %></h3>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <h5>Resume</h5>
        <p><%= @user.bio %></p>
      </div>
    </div>
    <% if @user != current_user  %>
      <div class="row mt-1">
        <div class="col d-flex align-items-center" style="flex-direction: row ">
          <p><i class="fab fa-linkedin-in text-primary m-2" style="font-size: 2rem;"></i></p>
          <p><i class="fab fa-instagram text-primary m-2" style="font-size: 2rem;"></i></p>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col mt-3">
          <div>
            <h5 class="medium-title">My projects</h5>
          </div>
        </div>
      </div>
    <% @user.projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="row mt-1 projects-card mb-3" style="color: #8C8C95">
        <div class="column">
          <% if project.user.photo.attached? %>
            <%= cl_image_tag project.user.photo.key, alt: "alttext", class: 'projects-card-img' %>
          <% else %>
            <%= image_tag "spiice.jpg", class: 'projects-card-img' %>
          <% end %>
        </div>
        <div class="column">
          <p class="projects-card-text"><%= project.description.first(40)... %></p>
          <h4 class="projects-card-title"><%= project.title %></h4>
          <p class="projects-card-price"><%= project.price %>$</p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
