<!-- view for designer -->
<% if @user.role == 'designer' %>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title">Profile</h1>

        <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: 'log-out' %>
        <%= link_to "Edit profile", edit_user_registration_path, class: 'btn-primary' %>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <div class="d-flex">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, alt: "alttext", class: 'profil-pic' %>
          <% else %>
            <%= cl_image_tag ("logo_ddfsxd"), class: 'profil-pic'%>
          <% end %>
          <h4 class="name-title"><%= @user.first_name + ' ' + @user.last_name %></h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <h5>Resume</h5>
        <p>UX/UI Designer from San Jose with 10 year of experience.</p>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <h5>Links</h5>
        <p>LinkedIn</p>
      </div>
    </div>

    <% if current_user.id == @user.id %>
      <div id="shots"></div>
    <% end %>

    <div class="row">
      <div class="col mt-4">
        <h5>Portfolio</h5>
      </div>
      <div class="flex">
        <div class="d-flex flex-wrap justify-content-center" id="dribbble-shots">
          <% @repos.each do |shot| %>
            <div class="dribbble-card">
              <img src="<%= shot["images"]["one_x"] %>" alt="" class="shot">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>

<% else %>
 <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title">Profile</h1>

        <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: 'log-out' %>
        <%= link_to "Edit profile", edit_user_registration_path, class: 'btn-primary' %>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <div class="d-flex">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, alt: "alttext", class: 'profil-pic' %>
          <% else %>
            <%= cl_image_tag ("logo_ddfsxd"), class: 'profil-pic'%>
          <% end %>
          <h4 class="name-title"><%= @user.first_name + ' ' + @user.last_name %></h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <h5>Resume</h5>
        <p>UX/UI Designer from San Jose with 10 year of experience.</p>
      </div>
    </div>

    <div class="row">
      <div class="col mt-4">
        <h5>Links</h5>
        <p>LinkedIn</p>
      </div>
    </div>

    <div class="row">
      <ul class="list">
      <% @user.projects.each do |project| %>
            <div class="card-body">
               <li> <%= link_to project.title , project_path(project), class: "btn btn-success" %></li>
            </div>
            <% end %>
      </div>
      </ul>

      </div>
    </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<% end %>

