<div class="container">
  <div class="menu">
    <div class="box">
      <p>client</p>
      <div>
        <%= link_to admin_projects_path do %>
          <i class="ri-dashboard-line <%= 'active' if current_page?(projects_path) %>"></i>
        <% end %>
      </div>
      <div>
        <%= link_to users_path do %>
          <i class="ri-search-line <%= 'active' if current_page?(users_path) %>"></i>
        <% end %>
      </div>
      <div>
        <%= link_to requests_path do %>
          <i class="ri-discuss-line"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_path(current_user) do %>
          <i class="ri-account-circle-line <%= 'active' if current_page?(user_path(current_user)) %>"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
