<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8 text-white">
      <p style="margin:0">Are you sure you want to accept the request of <%= @request.user.first_name %> <%= @request.user.last_name %>?</p>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="bd-highligh mt-2">
          <%= link_to "Profile of #{@request.user.first_name} #{@request.user.last_name}", user_path(@request.user), class: "btn easy-btn"%>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col mt-5 pt-5">
          <%= simple_form_for @request do |f| %>
            <%= f.input :answer,
              input_html: { autocomplete: "answer" },
              required: true,
              autofocus: true %>
            <%= f.submit "Yes, I accept the request", class: "btn btn-primary2 mt-4" %>
          <% end %>
          <%= link_to "Cancel", requests_path, class: "btn btn-primary3 mt-4"%>
        </div>
      </div>
    </div>
  </div>
</div>
