<!-- POUR LE CLIENT  -->
<% if current_user.role == "client" %>
  <div class="container">
    <div class="row">
      <div class="col mt-1">
        <h1 class="title text-white">Requests</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <% if current_user.role == "client" %>
          <% @requests.where(status: 1).or(@requests.where(status: 0)).each do |request| %>
            <div class="request-card mb-4">
              <div class="row">
                <div class="col-4 request-card-date m-4">
                  <p><%= request.created_at.strftime("%b %d, %Y") %></p>
                </div>
                <div class="col-4 m-4">
                  <%= link_to "View profil", user_path(request.user), class: "request-card-button" %>
                </div>
              </div>
              <div class="request-card-upper-text pt-1 pl-4">
                <p><%= request.project.title %></p>
              </div>
              <div class="request-card-title pl-4">
                <h4><%= request.project.user.first_name %> <%= request.project.user.last_name %></h4>
              </div>
              <div class="request-card-text pl-4">
                <p>"<%= request.message %>"</p>
              </div>
              <!-- SEULEMENT SI VALIDE -->
             <!--  <div class="request-card-email">
                <p><strong>Contact:</strong><br/><%= request.user.email %></p>
              </div> -->
              <div class="row">
                  <% if request.status == "accepted" %>
                    <div class="col-6 request-card-choice request-card-choice-accept accept">
                        <p>Accepted</p>
                    </div>

                  <% else %>
                    <div class="col-6 request-card-choice request-card-choice-accept accept">
                      <%= link_to edit_request_path(request) do %>
                        <p>Accept</p>
                      <% end %>
                    </div>
                    <div class="col-6 request-card-choice request-card-choice-decline decline">
                      <%= link_to request_refuse_path(request, request: { request_id: request.id, decision: 'rejection' }), data: { confirm: 'Are you sure?'}, method: :patch do %>
                        <p>Decline</p>
                      <% end %>
                    </div>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="height: 120px;"></div>
<!-- POUR LES DESIGNERS -->
<% else %>
  <div class="container">
    <div class="row">
      <div class="col mt-1">
        <h1 class="title text-white">Requests</h1>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <% if current_user.role == "designer" %>
          <% @requests.where(status: 1).or(@requests.where(status: 0)).each do |request| %>
            <div class="request-card mb-4">
              <div class="row">
                <div class="col-4 request-card-date m-4">
                  <p><%= request.created_at.strftime("%b %d, %Y") %></p>
                </div>
                <div class="col-4 m-4">
                  <% if current_user.role == "designer" %>
                    <% if request.status == "accepted"  %>
                      <div class="col">
                        <p class="choice-accept choice"><%= request.status.upcase %></p>
                      </div>
                    <% elsif request.status == "refused" %>
                      <div class="col">
                        <p class="choice-decline choice"><%= request.status.upcase %></p>
                      </div>
                    <% else %>
                      <div class="col">
                        <p class="choice-pending choice"><%= request.status.upcase %></p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="request-card-upper-text pt-1 pl-4">
                <p><%= "#{request.project.user.first_name} #{request.project.user.last_name}" %></p>
              </div>
              <div class="request-card-title pl-4">
                <h4><%= request.project.title %></h4>
              </div>
              <div class="request-card-text pl-4 pb-4">
                <p>"<%= request.message %>"</p>
              </div>
              <!-- SEULEMENT SI VALIDE -->
             <!--  <div class="request-card-email">
                <p><strong>Contact:</strong><br/><%= request.user.email %></p>
              </div> -->
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="height: 120px;"></div>
<% end %>
