<div class="container">
  <div class="row">
    <div class="col mb-3 mt-3 ml-2">
      <%= link_to project_path(@project) do  %>
        <div class="row mt-2">
          <i class="ri-arrow-left-line back-icon" style="color: white;"></i>
          <h4 style="margin-top: 10px; margin-left: 8px; color: white;">Back</h4>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col m-4">
      <h2 class="update-title">Update your Project "<%= @project.title %>"</h2>
    </div>
  </div>
  <div class="row">
    <div class="col m-4">
      <%= simple_form_for [@project], url: admin_project_path, method: :patch do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs text-white">
          <%= f.input :title,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "title" }%>
          <%= f.input :description,
                      required: true,
                      input_html: { autocomplete: "description" } %>
          <%= f.input :price,
                      required: true,
                      input_html: { autocomplete: "price" } %>
          <%= f.input :start,
                      required: true,
                      input_html: { autocomplete: "start project" } %>
          <%= f.input :deadline,
                      required: true,
                      input_html: { autocomplete: "deadline" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary2 mt-4 mb-4" %>
          <%= link_to 'Cancel', project_path, class: 'btn btn-primary3'  %>
        </div>
      <% end %>
      </div>
    </div>
  <div style="height: 160px;"></div>
</div>
