<div class="mt-3 m-3">
  <h3>Your own Projects</h3>
</div>
<div class="container mr-2">
  <% @projects.each do |project|  %>

  <div class="card mb-2">
    <div class="card-body">
      <p class="card-title"> <strong><%= project.title %></strong> </p>
      <p class="card-text"><%= project.description %></p>
      <p class="card-text">For a price of <%= project.price %> EUR</p>
      <p class="card-text"><%= project.deadline %></p>
      <%= link_to 'View details', project_path(project), class: 'btn btn-primary'  %>
    </div>
  </div>
  <% end %>
</div>
