<div class="pl-2 pb-0 mt-2 d-flex justify-content-start align-items-center">
  <a href="<%= projects_path %>" class="ri-arrow-left-circle-line back-icon"></a>
  <div>
    <%= link_to "Back", projects_path, class: "btn-back pl-1" %>
  </div>
</div>
<div class="m-3">
  <h2>New Project</h2>
</div>

<div class="m-3">
  <%= simple_form_for [@project], url: admin_projects_path, method: :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "title" }%>
    <%= f.input :description,
                required: true,
                input_html: { autocomplete: "description" } %>
    <%= f.input :price,
                required: true,
                input_html: { autocomplete: "price" } %>
    <%= f.input :start,
                required: true,
                input_html: { autocomplete: "start project" } %>
    <%= f.input :deadline,
                required: true,
                input_html: { autocomplete: "deadline" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create a new project", class: "btn btn-primary" %>
    <%= link_to 'Cancel', admin_projects_path, class: 'btn btn-primary'  %>
  </div>
<% end %>
</div>

