<div class="container">
  <div class="row">
    <div class="m-3">
      <h3>Projects</h3>
    </div>
  </div>
  <div class="row">
    <div class="col mr-2">
      <% @projects.each do |project|  %>
        <div class="card mb-2">
          <div class="card-body">
            <% if project.user.photo.attached? %>
              <%= cl_image_tag project.user.photo.key, alt: "alttext", class: 'card-img-top' %>
            <% else %>
              <%= cl_image_tag ("logo_ddfsxd"), class: 'card-img-top'%>
            <% end %>
            <p class="card-title"> <strong><%= project.title %></strong> </p>
            <p class="card-text"><strong>Description : <br></strong><em><%= project.description %></p>
            <p class="card-text"><strong>Price : </strong><%= project.price %> EUR</p>
            <%= link_to "Project details", project_path(project), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
