<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- ICON https://github.com/Remix-Design/remixicon#usage    https://remixicon.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
    <title>Spiice</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if current_user.present? %>
      <% if current_user.role == "client" %>
        <%= render 'shared/menu_admin' %>
      <% else %>
        <%= render 'shared/menu_designer' %>
      <% end %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
